<!DOCTYPE html>
<html>

<head>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=108921096"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments)
      };
      gtag('js', new Date());
      gtag('config', 'UA-108921096-1');
    </script>

  <link rel='stylesheet' href='/normalize.css' />
  <link rel='stylesheet' href='/styles.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>
    eChook Live Data
  </title>

</head>

<body>
  <script>
    var localData = '<%- JSON.stringify(data) %>';
      localData = JSON.parse(localData);
      console.log(localData);
      var dataLength = '<%- data.length %>';
      console.log('Length: ' + localData.length);

      var localUser = '<%- user %>';
      // localUser = JSON.parse(localUser);
      console.log('User: ' + localUser);
    </script>

  <div class="navbar">
    <div class="logo desktop">eChook</div>
    <div class="logo mobile">eC</div>
  </div>

  <div class="column-light">
    <span style=" text-align:center; margin:auto" class="centered">
      <h3>eChook's in house telemetry is currently under development</h3>
    </span>
    We will open this live data website to a group of beta testers when it is ready. We hope to be able to open it to every eChooker for the second half the the 2018 UK Season.<br><br>
    In the mean time, all telemetry goes through
    <a href="http://dweet.io">
      <strong>dweet.io</strong>
    </a>
    :)
  </div>

  <% if (user) { %>
  <div class="column-light">
    <div class="car-summary-container">
      <div class="summary-tile">
        <span style="font-size: 2em">
          <strong>
            <%= user.car %></strong>
        </span><br>
        <%= user.team %>
        <div class="logout-button">
          <a href="/auth/logout">
            <strong>Log Out</strong>
          </a>
        </div>
      </div>
      <div class="summary-tile" id="car-status">
        <div class="car-summary-data">
          No Data
        </div>
      </div>
      <div class="summary-tile">
        <div class="data-button">
          <a href="/data">
            <strong>Go to<br>Data</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% if (!user) { %>
  <div class="column-light center login centered" style="margin:auto">
    <h2>Car Login</h2>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
    <% } %>
    <div class="form-container">
      <div>
        <form class="SelectCarForm" action="/auth/login" method="post">
          <input type="text" name="car" value="" placeholder="Car Name" required="required">
          <input type="password" name="password" value="" placeholder="Password" required="required">
          <input type="submit" name="" value="Go!">
        </form>
      </div>
      <div style="margin:auto; padding:0 20px">
        <h3>or</h3>
      </div>
      <div class="new-car-button">
        <a href="/auth/register">
          <strong>Register a new Car</strong>
        </a>
      </div>
    </div>
    <div style="height:15px"></div>To see a demo login with: "eChook Demo Car" and password "Demo"
  </div>
  <% } %>

  <div>
    <% if(0) { %>
    <div class="column-light">
      <div class="center">
        <h2>Currently Active Cars:
        </h2>
      </div>
      <div>
        <% for(var i=0; i < data.length; i++) { %>
        <div class="active-car">
          <strong>
            <%= data[i].car %>
          </strong>
        </div>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>

</body>

</html>