<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Data</title>
    <link rel='stylesheet' href='/styles.css'/>
    <link rel='stylesheet' href='/normalize.css'/>

  </script>
</head>
<body>
  <script>
    var car = '<%= data.car %>';
    var team = '<%= data.team %>';
    var id = '<%= data._id %>';
    console.log('Running');
  </script>
  <div class="fullTitle">
    <div id="carHeader"><%= data.car %></div>
    <div id="teamHeader"><%= data.team %></div>
  </div>

  <div class="column-light">
    <div class="numbers-container">
      <div class="num-background num-grid-dual">
        <div class="num-title-dual">Voltages</div>
        <div id="voltageTotal" class="num-large-dual num">24</div>
        <div id="voltageLower" class="num-small-left num">11</div>
        <div id="voltegeUpper" class="num-small-right num">13</div>
        <div class="num-unit-dual">Volts</div>
      </div>
      <div class="num-background num-grid">
        <div class="num-title">Current</div>
        <div id="current" class="num-large num">20</div>
        <div class="num-unit">Amps</div>
      </div>
      <div class="num-background num-grid">
        <div class="num-title">Ah Used</div>
        <div id="AmpHours" class="num-large num">5</div>
        <div class="num-unit">Amp Hours</div>
      </div>
      <div class="num-background num-grid">
        <div class="num-title">Motor RPM</div>
        <div id="RPM" class="num-large num">1800</div>
        <div class="num-unit">RPM</div>
      </div>
      <div class="num-background num-grid">
        <div class="num-title">Speed</div>
        <div id="Speed" class="num-large num">30</div>
        <div class="num-unit">MPH</div>
      </div>
      <div class="num-background num-grid">
        <div class="num-title">Throttle</div>
        <div id="Throttle" class="num-large num">100</div>
        <div class="num-unit">%</div>
      </div>
      <div class="num-background num-grid">
        <div class="num-title">Brake</div>
        <div id="Brake" class="num-large num">OFF</div>
        <div class="num-unit">_</div>
      </div>
      <div class="num-background num-grid">
        <div class="num-title">Lap Number</div>
        <div id="LapNumber" class="num-large num">2</div>
        <div class="num-unit">_</div>
      </div>
    </div>
  </div>

  <div class="dataContainer column-accordion-light active">
    <button class="accordion">
      <strong>Individual Graphs</strong>
    </button>
    <div class="panel">
      <div class="dataHeading">
        Voltage</div>

      <div class="dataGraph">
        <canvas id="voltageChart" width="200" height="60"></canvas>
      </div>
      <div class="dataHeading">
        Current</div>
      <div class="dataGraph">
        <canvas id="currentChart" width="200" height="60"></canvas>
      </div>
      <div class="dataHeading">
        RPM</div>
      <div class="dataGraph">
        <canvas id="rpmChart" width="200" height="60"></canvas>
      </div>
    </div>
  </div>

  <div class="column-light">
    <div style="text-align:right">
      <div>Minutes of Data to Show:</div>
      <input type="number" id="graphCount" value="5">
      <input type="button" name="" value="Update" onclick="updateTime()">
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
  <script src="/data.js"></script>
  <script src="/accordion.js"></script>
</body>
</html>
