<!DOCTYPE html>
<html>
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=108921096"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments)
      };
      gtag('js', new Date());
      gtag('config', 'UA-108921096-1');
    </script>
    <meta charset="utf-8">
    <title>Car Data</title>
    <link rel='stylesheet' href='/styles.css'/>
    <link rel='stylesheet' href='/normalize.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </script>
</head>
<body>
  <script>
    var car = '<%- user.car %>';
    var team = '<%- user.team %>';
    var id = '<%- user._id %>';
  </script>

  <div class="navbar">
    <a class="logo" href="http://www.echook.uk">eChook</a>
  </div>

  <div class="fullTitle">
    <div id="carHeader"><%= user.car %></div>
    <div id="teamHeader"><%= user.team %></div>
  </div>

  <div class="dataContainer column-accordion-light active">
    <button class="accordion">
      <strong>Numerical Data</strong>
    </button>
    <div class="panel">
      <div class="column-light">
        <div class="numbers-container">
          <div class="num-background num-grid">
            <div class="num-title">Current</div>
            <div id="Current" class="num-large num">0</div>
            <div class="num-unit">Amps</div>
          </div>
          <div class="num-background num-grid-dual">
            <div class="num-title-dual">Voltages</div>
            <div id="voltageTotal" class="num-large-dual num">0</div>
            <div id="voltageLower" class="num-small-left num">0</div>
            <div id="voltegeUpper" class="num-small-right num">0</div>
            <div class="num-unit-dual">Volts</div>
          </div>
          <div class="num-background num-grid">
            <div class="num-title">Motor RPM</div>
            <div id="RPM" class="num-large num">0</div>
            <div class="num-unit">RPM</div>
          </div>
          <div class="num-background num-grid">
            <div class="num-title">Speed</div>
            <div id="Speed" class="num-large num">0</div>
            <div class="num-unit">MPH</div>
          </div>
          <div class="num-background num-grid">
            <div class="num-title">Throttle</div>
            <div id="Throttle" class="num-large num">0</div>
            <div class="num-unit">%</div>
          </div>
          <div class="num-background num-grid-dual">
            <div class="num-title-dual">Temperatures</div>
            <div id="Temp1" class="num-dual-left num">0</div>
            <div id="Temp2" class="num-dual-right num">0</div>
            <div class="num-unit-dual">Centigrade</div>
          </div>
          <div class="num-background num-grid">
            <div class="num-title">Ah Used</div>
            <div id="AmpHours" class="num-large num">0</div>
            <div class="num-unit">Amp Hours</div>
          </div>
          <div class="num-background num-grid">
            <div class="num-title">Brake</div>
            <div id="Brake" class="num-large num">OFF</div>
            <div class="num-unit">_</div>
          </div>
          <div class="num-background num-grid">
            <div class="num-title">Lap Number</div>
            <div id="LapNumber" class="num-large num">0</div>
            <div class="num-unit">_</div>
          </div>
          <div class=" lap-info">
            <div style="grid-row: 1; grid-column: 1">Lap #</div>
            <div style="grid-row: 1; grid-column: 2">Time</div>
            <div style="grid-row: 1; grid-column: 3">Voltage</div>
            <div style="grid-row: 1; grid-column: 4">Current</div>
            <div style="grid-row: 1; grid-column: 5">Speed</div>
            <div style="grid-row: 1; grid-column: 6">RPM</div>
            <div style="grid-row: 1; grid-column: 7">Amp Hours</div>

            <div class="table-head" id="LLLap" style="grid-row: 2; grid-column: 1"></div>
            <div class="table-head" id="LLTime" style="grid-row: 2; grid-column: 2"></div>
            <div class="table-head" id="LLVolts" style="grid-row: 2; grid-column: 3"></div>
            <div class="table-head" id="LLCurrent" style="grid-row: 2; grid-column: 4"></div>
            <div class="table-head" id="LLSpeed" style="grid-row: 2; grid-column: 5"></div>
            <div class="table-head" id="LLRPM" style="grid-row: 2; grid-column: 6"></div>
            <div class="table-head" id="LLAH" style="grid-row: 2; grid-column: 7"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dataContainer column-accordion-light active">
    <button class="accordion">
      <strong>Graph</strong>
    </button>
    <div class="panel">
      <div class="dataHeading"></div>

      <div class="dataGraph">
        <canvas id="voltageChart" width="400" height="100"></canvas>
      </div>
      <div class="center">Click on the graph legend to show and hide signals</div>
      <div style="height:10px"></div>
    </div>
  </div>

  <div class="dataContainer column-accordion-light active">
    <button class="accordion">
      <strong>Map</strong>
    </button>
    <div class="panel">
      <div id="map"></div>
      <div>
        Latitude:
        <span id="lat-text"></span>
        Longitude:
        <span id="lon-text"></span>
      </div>
    </div>
  </div>

  <div class="column-light">
    <div style="text-align:right">
      <div>Minutes of Data to Show:</div>
      <input type="number" id="graphCount" value="5">
      <input type="button" name="" value="Update" onclick="updateTime()">
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
  <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCen7-pQH0DptCqtPh1fAuEgzejC21DDtU"></script>
  <script src="/graphConfig.js"></script>
  <script src="/data.js"></script>
  <script src="/accordion.js"></script>
</body>
</html>
